/* COLORS */
/*
LOGO:
color: #D7B221
color: #004AAD
*/


/***** TAG SELECTORS *****/
body {

  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

hr{

  color: #004AAD;
  margin: 0 5% 5%;
}

h1 {

  color: #004AAD;
}

h2, h3 {

  color: #0AA1DD;
  margin-bottom: 5%;
}

p {

  line-height: 2;
}

a:link, a:visited {

  text-decoration: none;
  color: #7F8487;
}

a:hover{

  text-decoration: none;
  color:grey;
}

a:hover img{

  transform: scale(1.5);
}





/***** NAVIGATION MENU *****/
.navbar-brand{

  height: 10%;
  width: 10%;
}

.nav-item{

  letter-spacing: 0.8px;
}

.navbar-nav{

  width: 50%;
  margin: auto 10% auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  list-style-type: none;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}





/***** HOME PAGE *****/
#home-top-section {

  background-color: #004AAD;
}

.bracket-top {

  display: block;
}

.home-icon{

  display: inline;
  color: #D7B221;
  margin: 3% 5%;
}

.home-slogan{

  color: white;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 7% auto 7% auto;
}

.bracket-bottom {

  display: block;
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: 0;
}

#home-middle-section {

  background-color: white;
  margin: 0;
  padding: 10% 20% 10%;
}

.profile-img{

  width: 20%;
  height: 20%;
  border-radius: 100%;
  margin: 10% auto;
}

.home-intro{

  font-size: 1.5rem;
}





/***** ABOUT PAGE ******/
#skills{

  text-align: center;
  margin: 5% 20% 0;
}

.horizontal-filler{

  height: 100px;
  background-color: #004AAD;
  margin-bottom: 5%;
}

.skill{

  margin-bottom: 10%;
}

.skill-title, .hobbies-title{

  color: #D7B221;
}

.skill-img {

  width: 65%;
  margin: 0 0 10% 0;
  border-radius: 100%;
}

.skill-description{

  text-align: left;
}

#hobbies{

  text-align: center;
  margin-bottom: 10%;
}

.hobbies-description {

  font-size: 1.5rem;
  width: 60%;
  margin: 2% auto 0;
}





/***** PROJECTS SECTION *****/
#snapshots{

  background-color: #004AAD;
  height: auto;
  width: auto;
  max-height: 1400px;
}

.review-image{

  width: 80%;
  height: 100%;
  max-height: 1200px;

  margin-top: 50px;
  margin-bottom: 100px;
}

#projects{

  margin: 10% 20% 10%;
}

#projects h3{

  margin: 2%;
}

.project-list {

  margin: 0 auto 5%;
  line-height: 1.75;
  list-style: none;
}

.project-icon{

  height: 3%;
  width: 3%;
  margin: 0 0.25% 1%;
}

.tech-tag{

  pointer-events: none;

  font-size: 1rem;
  border-radius: 5%;
  color: white;
  padding: 2px;
  margin: 4px;
  background: #004AAD;
  text-decoration: none;
}






/***** FOOTER SECTION *****/
#footer {

  background-color: #004AAD;
  padding: 2% 0 2%;
  margin: 0;
}

.social-icon{

  margin: 1%;
  height: 3%;
  width: 3%;
}

.footer-msg{

  color: white;
  font-family: 'Archivo Narrow';
  font-size: 0.75rem;
  margin-top: 2%;
}
